body{
  background: #141414;
  color: #ffffff;
}
main{
  min-height: 80vh;
}

/* 

::-webkit-scrollbar {
  opacity: 0;
  width: 0;
  display: none;
  background-color: transparent;
} */
.movies.container-fluid > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}